{% extends "base.html"%}

{% block content %}

<style>
   body {
    font-family: "Lato", sans-serif;
}



.main-head{
    height: 150px;
    background: #FFF;
   
}

.sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .checkout-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .checkout-form{
        margin-top: 80%;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}
</style>
<div class="sidenav">
         <div class="login-main-text">
            <h2>Checkout Books</h2>
         </div>
      </div>
      <div class="main">
         <div class="col-md-6 col-sm-12">
            <div class="checkout-form">
               <form action="/checkout/" method="POST" novalidate>
                  {{form.hidden_tag()}}
                  <div class="form-group">
                     <label>Book Title</label>
                     {{form.book(type="text", class="form-control", placeholder="Book Title")}}
                     <!-- <input type="text" class="form-control" placeholder="User Name"> -->
                  </div>
                  {{form.submit(type="submit", class="btn btn-black")}}
                  <!-- <button type="submit" class="btn btn-black">Checkout</button> -->
                  <a href="{{ url_for('home') }}" class="btn btn-secondary">home</a>
               </form>
            </div>
         </div>
      </div>
{% endblock %}
